<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoggingMode" value="All"/><!--values are All,Application-->
    <add key="ApplicationsLogPath" value="applications.log"/>
    <add key="MainLogPath" value="main.log"/>
    <add key="DataLoadLogPath" value="dataload.log"/>
    <add key="ApplicationPatterns" value="WebUI$,WebService$,WebAPI$,WindowsService$,ConsoleUI$"/>
    <add key="CompanyAssembliesPattern" value="^BadgersInc"/>
    <add key="LocalNeo4jUrl" value="http://neo4j:12345@localhost:7474/db/data"/>
    <add key="WriteToRemoteNeo4jInstance" value="true"/>
    
    <!-- CHANGE PATHS TO MATCH YOUR LOCAL ENVIRONMENT-->
    <add key="LocalNeo4jBulkLoadFolder" value="C:\Graphode\Local"/>
    <!-- End of local environment paths -->
    
    <!-- for remote Neo4j only - DO NOT CHANGE VALUES-->
    <add key="RemoteNeo4jUrl" value="http://neo4j:12345@10.0.0.1:7474/db/data"/>
    <add key="RemoteNeo4jBulkLoadFolder" value="C:\graphode\CSV"/>
    <add key="FtpUrlForBulkLoadCsv" value="ftp://10.0.0.1/"/>
    <!-- end of for remote Neo4j-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
